/* CSS Stylesheet */

body {
	font-family: 'Varela ', sans-serif;
	font-size: 1em;
	margin: 0 0 0 0 ;
}

p {
	font-family: 'Lato', sans-serif;
}

li {
	font-family: 'Lato', sans-serif;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* Navbar Container */
.navbar {
	overflow: hidden;
	background: #0e0e0e;
}

/* Links inside navbar */
.navbar a {
	font-size: 1.2rem;
	float: left;
	color: #ebebeb;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-transition: background-color .7s, color .7s;
}

/* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
}

/* Dropdown Services Button */
.dropdown .dropbtn {
	font-size: 1.2rem;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* need this for mobile alignment */
	margin: 0; /* Important for vert align on mobile */
	-webkit-transition: background-color .7s, color .7s;
}

/* Add background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #ece19e;
	color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s, opacity .7s linear;
	position: absolute;
	background-color: #ebebeb;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	-webkit-transition: background-color .7s, color .7s;
}

.dropdown-content a:hover {
	background-color: #4e5f6d;
	color: white;
}

/* show dropdown menu on hover */
.dropdown:hover .dropdown-content {
	visibility: visible;
	display: block;
	opacity: 1;
}

/* Begin Home Pg CSS */
.hero-image {
	background: url(../images/HeroImage.jpg);
	height: 90vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}

/* Social link buttons */
.social-links-top {
	text-align: center;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social-links-top i {
	padding: 10px;
	font-size: 20px; 
	width: 20px;
	height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: #111d26;
	background: #ece19e;
	margin: 5px 10px 5px 10px;
	-webkit-transition: color 1.2s, background 1.2s;
}

.social-links-top i:hover {
	background: #4e5f6d;
	color: #ece19e;
}


/* Home Page Text */

.img-container {
	max-width: 80%;
	margin: 10px auto 0px auto;
}

.about-container {
	width: 80%;
	margin: 0 auto;
	background: #fff;
	padding: 75px 125px 75px 125px;
}


.about-content h1{
	text-align: center;
	margin: 50px;
	font-size: 2.5rem;
}

.about-content p {
	max-width: 85%;
	margin: auto;
	font-size: 1.15rem;
	line-height: 30px;
	color: #101d26;

}

.bottom-border {
	height: 0px;
	border-bottom: 2px solid black;
	width: 150px;
	margin: -40px auto 40px;
}

.responsive {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.services-pic {
	max-width: 800px;
}

.contact-button {
	background-color: #0e0e0e; /* Dark almost black */
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 1.15rem;
    margin: 50px auto;
    width: 100px;
    -webkit-transition: background-color 1s;
}

.contact-button a {
	text-decoration: none;
	color: #ece19e;
	-webkit-transition: color 1s; 
}

.contact-button:hover {
	background-color: #4e5f6d;
}

.contact-button a:hover {
	color: white;
}

.footer-logo {
	max-width: 25%;
	height: auto;
	display: block;
	margin: 0 auto;
}

/* Footer Styles*/
.footer-container {
	width: 100%;
	height: 250px;
	padding-top: 150px;
	background: linear-gradient(90deg, #4e5f6d, #111d26),
				url(../images/MixingBoard2.jpg) no-repeat;
				background-blend-mode: multiply;
				background-size: cover;
				background-position-y: 60%;

}

.footer-content {
	text-align: center;
	color: white;
}

.social-links-footer {
	display: block;
	position: relative;
}

.social-links-footer i {
	padding: 10px;
	font-size: 20px; 
	width: 20px;
	height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: #0e0e0e;
	background: #ece19e;
	margin: 5px 10px 5px 10px;
	-webkit-transition: color 1.2s, background 1.2s;
}

.social-links-footer i:hover {
	background: #4e5f6d;
	color: #ece19e;
}




/* Equipment Styling */




.equipment-header {
	height: 400px;
	width: 100%;
	background: linear-gradient(0deg, rgba(78, 95,109, 0.4), rgba(78, 95,109, 0.4)), url(../images/Equipment2.jpg);
	background-size: cover;
	text-align: center;
	color: white;
	background-position-y: 5%;
	position: relative;
}

.top-heading {
	position: relative;
	top: 40%;
	font-size: 4rem;
}

/* Equipment List in Columns*/
/* Create two equal columns that floats next to each other */
/* They are also inside a container to keep them centered on the page */

.equipment-container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

#one {
	width: 50%;
	float: left;
}

#two {
	width: 50%;
	float: right;
}





/* Services Styling*/




.services-header {
	height: 300px;
	width: 100%;
	background: linear-gradient(0deg, rgba(78, 95,109, 0.4), rgba(78, 95,109, 0.4)), url(../images/Knobs.jpg);
	background-size: cover;
	text-align: center;
	color: white;
	background-position-y: 5%;
	position: relative;
}




/* Media Queries */


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait) {
	.hero-image {
		background: url(../images/CircleLogoFullColor.png);
		background-size: contain;
		background-repeat: no-repeat;
		height: 45vh;
		background-position: center;
		width: 100%;
	}

	.navbar a {
		font-size: 3rem;
		} 
	
	.dropdown .dropbtn {
		font-size: 3rem;
	}

	.social-links-top {
		display: block;
		position: relative;
		top: 91%;
	}

	.chevron-down {
		opacity: 0;
}

	.social-links-top i {
		padding: 10px;
		font-size: 20px; 
		width: 20px;
		height: 20px;
		text-align: center;
		text-decoration: none;
		border-radius: 50%;
		color: #111d26;
		background: #ece19e;
		margin: 5px 10px 5px 10px;
		-webkit-transition: color 1.2s, background 1.2s;
	}

	.about-container {
		width: 75%;
	}

	.about-content p {
    	font-size: 2rem;
    }

    #one, #two {
        display: block; 
        float: none; 
        width: 100%;
        padding: 20px 0;
    }


}

@media screen and (max-width: 700px) {
	.hero-image {
		height: 50vh;
	}

	.about-container {
		padding: 75px 10px;
	}


}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {
      #one, #two {
        display: block; 
        float: none; 
        width: 100%;
        padding: 20px 0;
    }

}